<form method="post" action="/courses/create">
<table>
<tr> <td>
      <label for="title">Title:</label>
    </td>
    <td>
      <input type="text" name="title">
</td> </tr>
<tr> <td>
      <label for="instructor">Instructor:</label>
    </td>
    <td>
      <input type="text" name="instructor">
</td> </tr>
<tr> <td>
      <label for="semester">Semester:</label>
    </td>
    <td>
      <input type="text" name="semester">
</td> </tr>
<tr> <td>
</td> <td>
      <input type="submit">
    </td>
  </tr>
</table>
</form>